.g-superload {

    position: relative;

    &::after {
        @include _transition(1.25, 'ease-in-out');
        @include vendor('transition-delay', '1.25s');

        background: _palette(color_blue);
        content: '';
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    &__inner {
        @include vendor ('transition', 'opacity 1s ease-in-out');
        opacity: 1;
        position: relative;
        z-index: 2;
        @for $i from 1 to 10 {
            &-#{$i} {
                @extend .g-superload__inner;
                @include vendor('transition-delay', '#{.5 * $i}s');
            }
        }
    }

    &--is_loading {

        &::after {
            opacity: 1;
        }

        .g-superload__inner {
            opacity: 0;
        }
    }
}
