/// Block
/// @access public
/// @param {String} $block - Block's name
@mixin block ($block) {
    #{$block} {
        @content;
    }
}

/// Block Element
/// @access public
/// @param {String} $element - Element's name
@mixin element ($element) {
    &__#{$element} {
        @content;
    }
}

/// Block Modifier
/// @access public
/// @param {String} $modifier - Modifier's name
@mixin modifier ($modifier) {
    &--#{$modifier} {
        @content;
    }
}

/// Modifier Value
/// @access public
/// @param {String} $value - value
@mixin value ($value) {
    &_#{$value} {
        @content;
    }
}

/// @alias block
@mixin b ($block) {
    #{$block} {
        @content;
    }
}

/// @alias element
@mixin e ($element) {
    @include element ($element) {
        @content;
    }
}

/// @alias modifier
@mixin m ($modifier) {
    @include modifier ($modifier) {
        @content;
    }
}

/// @alias value
@mixin v ($value) {
    @include value ($value) {
        @content;
    }
}